<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="admin_sales">
 	<select id="getSales_list" parameterType="java.Hash.Map" resultType="java.Hash.Map">
 		select rst.* from 
		(select b.*, rownum rnum from 
		(select pay_date, sum(order_qty) qty, sum(price) price from
		(select order_qty, to_char(pay_date, 'yy/MM') pay_date, price from ORDERTBL where state = 5 and pay_date between to_date('17/08/01') and to_date('17/10/01') ) group by pay_date order by pay_date desc)
		b) rst where rnum between 1 and 3
 	</select>
 	
 	<select id="getSales_count" parameterType="java.Hash.Map" resultType="java.lang.Integer">
 		select count(*) count from 
		(select pay_date, sum(order_qty) qty, sum(price) price from
		(select order_qty, to_char(pay_date, 'yy/MM') pay_date, price from ORDERTBL where state = 5 and pay_date between to_date('17/08/01') and to_date('17/10/01') ) group by pay_date order by pay_date desc)
		b
 	</select>
 
 </mapper>