<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<select id="login" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) cnt from admin_member where id=#{id} and pass=#{pass}
	</select>
	
	<select id="getCnt_dailyOrder" resultType="java.lang.Integer">
		select count(*) cnt from ORDERTBL where ORDER_DATE &gt;= to_date(to_char(sysdate)) and ORDER_DATE &lt; to_date(to_char(sysdate))+1
	</select>
	
	<select id="getCnt_dailyPay" resultType="java.lang.Integer">
		select count(*) cnt from ORDERTBL where PAY_DATE &gt;= to_date(to_char(sysdate)) and PAY_DATE &lt; to_date(to_char(sysdate))+1
	</select>
	
	<select id="getCnt_dailyUser" resultType="java.lang.Integer">
		select count(*) cnt from USER_MEMBER where JOINDATE &gt;= to_date(to_char(sysdate)) and JOINDATE &lt; to_date(to_char(sysdate))+1
	</select>
	
	<select id="getCnt_allUser" resultType="java.lang.Integer">
		select count(*) cnt from USER_MEMBER
	</select>
	
	<select id="getCnt_leaveUser" resultType="java.lang.Integer">
		select count(*) cnt from USER_LEAVE where LEAVEDATE &gt;= to_date(to_char(sysdate)) and LEAVEDATE &lt; to_date(to_char(sysdate))+1
	</select>
	
	<insert id="put_notice" parameterType="java.util.HashMap">
		insert into notice values(notice_num_seq.nextval, #{title}, #{content}, sysdate, #{target})
	</insert>
	
	<select id="getValues_All" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from ${table}
	</select>
	
	<select id="getList_notice" resultType="java.util.HashMap">
		select n.NOTICE_NUM, n.TITLE, n.NOTICE_DATE, n.TARGET, t.TARGET targets from notice n left join target t on n.TARGET = t.NUM order by n.NOTICE_DATE desc
	</select>
	
	<select id="getDetail_notice" parameterType="java.lang.Integer" resultType="java.util.HashMap">
		select r.* from (select n.*, t.TARGET targets from notice n left join target t on n.TARGET = t.NUM) r where r.notice_num = #{num}
	</select>
	
	<insert id="putImage_notice" parameterType="java.util.HashMap">
		insert all
		<foreach collection="list" item="item" separator=" ">
			 into notice_img (num, img_uuid) values (notice_num_seq.currval, #{item.src})
		</foreach>
		select * from dual
	</insert>
	
	<update id="updateNotice" parameterType="java.util.HashMap">
		update NOTICE set title = #{title}, content = #{content}, notice_date = sysdate, target = #{target} where notice_num = ${num}
	</update>
	
	<delete id="delNotice_img">
		delete notice_img where NUM = #{num}
	</delete>
	
	<update id="updateImage_notice" parameterType="java.util.HashMap">
		insert all
		<foreach collection="list" item="item" separator=" ">
			 into notice_img (num, img_uuid) values (#{num}, #{item.src})
		</foreach>
		select * from dual
	</update>
	
	<select id="getInfo_company" resultType="java.util.HashMap">
		select * from INFO_COMPANY
	</select>
	
	<update id="update_info_company" parameterType="java.util.HashMap">
		update info_company set	name = #{name}, value = #{val} where num = ${num}
	</update>
	
	<delete id="delInfo_company" parameterType="java.lang.String">
		delete from info_company where name=#{name}
	</delete>
	
	<insert id="plusInfo_company">
		insert into info_company values(#{name}, null, info_company_seq.nextval)
	</insert>
	
	<select id="getNum_info_company" resultType="java.lang.Integer">
		select i.num from info_company i where i.name=#{name}
	</select>
	
	<select id="getUUID_notice_img" resultType="java.lang.String">
		select ni.IMG_UUID from notice_img ni
	</select>
	
	<select id="getTerms" resultType="java.util.HashMap">
		select num, title from terms
	</select>
	
	<select id="getDetail_terms" parameterType="java.lang.Integer" resultType="java.util.HashMap">
		select * from terms where num = #{num}
	</select>
	
	<update id="updateTerms" parameterType="java.util.HashMap">
		update terms set title = #{title}, content = #{content} where num = ${num}
	</update>
	
	<insert id="plusTerms" parameterType="java.util.HashMap">
		insert into terms values (terms_seq.nextval, #{title}, #{content})
	</insert>
	
	<delete id="delTerms" parameterType="java.lang.Integer">
		delete terms where num = #{num}
	</delete>
	
</mapper>