<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myinfo">
	<select id="usergrade" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select rr.* from
		(select r.*, rownum rnum from
		(select b.*,
		f.grade from
		(select * from USER_RECORD where id=#{id}) b
		LEFT join
		USER_GRADE f on
		b.buy_total>=f.STANDARD order by ROWNUM desc) r) rr
		where rr.rnum = 1
	</select>
	<select id="orderlist" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select f.*, p.pro_name from
		(select b.*, s.state s from
		(SELECT * FROM ORDERTBL WHERE user_id=#{id}) b
		left join STATE s on
		b.state=s.state_NUM) f
		left join PRODUCTTBL p on
		f.pro_num=p.pro_num
	</select>
	<select id="qanda" parameterType="java.lang.String" resultType="java.util.HashMap">
		select rr.* from
		(select r.*, rownum rnum from
		(select * from q_and_a
		where user_id=#{id} order by rownum desc)r)rr where
		rr.rnum <![CDATA[<=]]>5
	</select>
	<select id="counsel" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select rr.* from
		(select r.*, rownum rnum from
		(select * from counsel
		where user_id=#{id} order by rownum desc)r)rr where
		rr.rnum <![CDATA[<=]]>5
	</select>
	<select id="counselAll" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from counsel
		where user_id=#{id} order by rownum desc
	</select>
	<select id="counselcate" resultType="java.util.HashMap">
		SELECT * FROM
		COUNSEL_CATEGORY
	</select>
	<insert id="counselup" parameterType="java.util.HashMap">
		insert into counsel(num, cate, user_id, title, content, counsel_date, image_uuid)
		values
		(counsel_seq.nextval, #{cate}, #{id}, #{title},
		#{content}, sysdate, #{fileuuid})
	</insert>
	<select id="pass_confirm" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from user_member where PASS=#{pass}
	</select>

</mapper>