<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="product">
 	<select id="pro_list" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 		select tmp2.* from(select tmp.*,rownum as r from 
 		(select temp1.*,temp2.total_sell from  producttbl temp1 left join sell_qty temp2 on temp1.pro_num = temp2.pro_num
 		 <if test="category != null and category != '' ">
 		 where cate=#{category} 
 		 </if>
 		 <if test="search != null and search !=''">
 		where pro_name like #{search}
 		</if> 		
 		<choose>
 		 <when test="sort == 'price_d'">order by price desc</when>
 		 <when test="sort == 'price_a'">order by price asc</when>
 		 <when test="sort == 'bestseller'">order by total_sell desc</when>
 		  <otherwise> order by pro_date desc  </otherwise>
 		 </choose>
 		 )tmp where sell_on=1)tmp2 where tmp2.r between #{start} and #{end} 		
 	</select> 
 	
 	<select id="list_count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
 		select count(*) from(select tmp.*,rownum as r from (select * from producttbl
 		 <if test="category != null and category != '' ">
 		 where cate=#{category} 
 		 </if> 	
 		  <if test="search != null and search !=''">
 		where pro_name like #{search}
 		</if>	 
 		 )tmp)tmp2 
 	</select>
 	
 	<select id="pro_list_bestseller" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 	select p.*,s.* from ((select * from producttbl 
 	<if test="cate != null">
 	where cate=#{cate}
 	</if>
 	) p join sell_qty s on p.pro_num=s.pro_num) order by s.TOTAL_SELL desc;
 	</select>
 	
 	<select id="totalsearch" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 	select * from producttbl 
 	<if test="search != null and search !=''">
 	where pro_name like #{search}
 	</if>
 	</select>
 	<select id="totalsearch_count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
 	select count(*) from(select tmp.*,rownum as r from (select * from producttbl
 		 <if test="search != null and search != '' ">
 		 where pro_name like #{search} 
 		 </if> 		 
 		 )tmp)tmp2  
 	</select>
 	
 	
 
 </mapper>
