<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="product">
 	<select id="pro_list" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 		select tmp2.* from(select tmp.*,rownum as r from (select * from producttbl
 		 <if test="category != null">
 		 where cate=#{category} 
 		 </if>
 		 <if test="sort == null or sort='' or sort==date">
 		 order by pro_date desc
 		 </if>
 		 <if test="sort != null">
 		 <if test="sort == price_d">order by price desc</if>
 		 <if test="sort == price_a">order by price asc</if>
 		 </if>
 		 )tmp)tmp2 where tmp2.r between #{start} and #{end} 		
 	</select> 
 	<select id="list_count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
 		select count(*) from(select tmp.*,rownum as r from (select * from producttbl
 		 <if test="category != null">
 		 where cate=#{category} 
 		 </if> 		 
 		 )tmp)tmp2 
 	</select>
 	<select id="pro_list_bestseller" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 	select p.*,s.* from ((select * from producttbl 
 	<if test="cate != null">
 	where cate=#{cate}
 	</if>
 	) p join sell_qty s on p.pro_num=s.pro_num) order by s.TOTAL_SELL desc;
 	</select>
 	
 
 </mapper>