<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="seller">
 	<!-- 기본정보 관리 -->
 	<insert id="join" parameterType="java.util.HashMap">
 		INSERT INTO SELLER_MEMBER(id, pass, name, phone, brand, joindate, account, bank)
 		VALUES(#{id}, #{pass}, #{name}, #{phone}, #{brand}, sysdate, #{account}, #{bank})
 	</insert>
  	<select id="login" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  		SELECT * FROM SELLER_MEMBER WHERE id=#{id} AND pass=#{pass}
  	</select>
  	<!-- 정보보기 할때도 사용 -->
  	<select id="id_check" parameterType="java.lang.String" resultType="java.util.HashMap">
  		SELECT * FROM SELLER_MEMBER WHERE id=#{id}
  	</select>
 	<select id="account_check" parameterType="java.lang.String" resultType="java.util.HashMap">
 		SELECT * FROM SELLER_MEMBER WHERE account=#{account}
  	</select>
  	<delete id="member_delete" parameterType="java.lang.String">
  		delete from seller_member where id=#{id}
  	</delete>
  	<update id="edit_info" parameterType="java.util.HashMap">
  		update seller_member set name=#{name}, phone=#{phone}, brand=#{brand}, account=#{account}
  		where id=#{id}
  	</update>
  	<update id="edit_pass" parameterType="java.util.HashMap">
  		update seller_member set pass=#{pass} where id=#{id}
  	</update>
  	
  	
  	<!-- 상품 관리  -->
  	<select id="pro_list" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from 
		( select rownum as r, tmp.* from (select * from productTbl 
		<if test="sort != '' and sort != null">
			where sell_on=#{sort} 
		</if>
		order by pro_date desc) tmp ) tmp2 
		where tmp2.r between #{start} and #{end} and seller_id=#{id}
	</select>
  	
  	<select id="review" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  		select * from review where seller_id=#{id}
  	</select>
 </mapper>